/*font:Century Gothic*/

/*rgba(100, 145, 154, 0.71)); - фон кнопок и логотипов*/
/*rgba(100, 145, 154, 0.71))цвет линий*/
/*#252626;-цвет фона тела*/

@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;

  /* Браузер сначала попробует найти шрифт локально */
  src: local("Century Gothic"),
    /* Если не получилось, загрузит woff2 */ url("../fonts/CenturyGothic.woff2")
      format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
      url("../fonts/CenturyGothic.woff") format("woff");
}

* {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Century Gothic";
  background-color: #252626;
}

.noscroll {
  overflow: hidden;
}

.simple {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mob-dn {
  display: none;
}

.bold {
  font-weight: 700;
}

/*popup-form*/

.popup-form {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  background-color: #609aa6;
  background-image: url("../images/popup-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.popup-form-wrapper {
  padding: 0 22px;
  margin: auto;
  min-width: 300px;
  max-width: 400px;
}

.popup-form-header {
  margin-top: 9px;
}

.popup-close-wrap {
  text-align: right;
}

.popup-close-btn {
  font-size: 33px;
  color: #fff;
}

.popup-form-main {
  margin-top: 18px;
  background-color: rgba(255, 255, 255, 0.68);
  box-shadow: 0px 4px 4px 0px rgba(207, 201, 201, 0.37);
  padding: 25px 11px;
  border-radius: 5px;
}

.popup-from-title-wrap {
  text-align: center;
}

.popup-form-title {
  font-size: 20px;
}

.form__popup {
  margin-top: 24px;
}

.form-name-wrap {
  margin-top: 13px;
}

.form-tool-wrap {
  padding-left: 5px;
}

.form-tool-wrap,
.input {
  display: block;
  font-size: 15px;
}

.name-sp-tooltip {
  color: #f00;
  margin-left: 3px;
}

.input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.area-message {
  height: 60px;
  width: 100%;
}

.from-file-wrap {
  background-color: #fff;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 5px;
  border-radius: 5px;
}

.input-file {
  position: relative;
  display: inline-block;
}
.input-file-text {
  padding: 0 10px;
  line-height: 40px;
  text-align: left;
  height: 40px;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 200px;
  border-radius: 6px 0px 0 6px;
  border: 1px solid #ddd;
}
.input-file-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 12px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 5px;
  background-color: rgba(100, 145, 154, 0.71);
  padding: 3px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}
.input-file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type="file"]:focus + .input-file-btn {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Hover/active */
.input-file:hover .input-file-btn {
  background-color: #59be6e;
}
.input-file:active .input-file-btn {
  background-color: #2e703a;
}

/* Disabled */
.input-file input[type="file"]:disabled + .input-file-btn {
  background-color: #eee;
}

.form-footer {
  display: flex;
}

.form-checkbox {
  width: 24px;
}

.policy {
  color: #249aa5;
}

/*popup-form*/

/* header */

.nav-panel {
  display: flex;
  justify-content: space-between;
  padding: 9px 6px 0px 15px;
  background-color: #373839;
}

.nav__logo-wrap {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-wrap {
  position: absolute;
  top: 21px;
  left: 33%;
  animation-name: phone;
  animation-duration: 2s;
}

.link {
  text-decoration: none;
}

.txt {
  font-size: 13px;
  color: #fff;
}

.bold {
  font-weight: 700;
}

.txt-lg {
  font-size: 17px;
}

.head-tel {
  font-size: 17px;
}

.logo {
  width: 102%;
  animation-name: logo;
  animation-duration: 2s;
}

@keyframes logo {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: 0;
  }
}

.nav__title-container {
  margin: 61px 0 0 16%;
  position: absolute;
  animation-name: title;
  animation-duration: 2s;
}

.menu {
  background-image: url("../images/menu-bg-mob.jpg");
  background-size: cover;
  background-position: center;
}

.nav__title {
  font-size: 10px;
  font-weight: 200;
}

.hamb {
  display: flex;
  align-items: center;
  animation-name: hamb;
  animation-duration: 2s;
}

.hamb__field {
  padding: 20px 10px;
  cursor: pointer;
}

.bar {
  display: block;
  width: 32px;
  height: 2px;
  margin: 8px auto;
  background-color: #fff;
  transition: 0.2s;
}

.menu-wrap {
  display: none;
}

.page-head {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 15px 41px;
  position: relative;
  z-index: 1;
  background-image: url("../images/header-bg-mobile.jpg");
  background-size: cover;
  animation-name: page-head;
  animation-duration: 15000ms;
  animation-fill-mode: forwards;
}

.page-head:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  opacity: 0.54;
}

.head__wrap {
  position: relative;
  display: flex;
  z-index: 3;
  animation-name: second-header;
  animation-duration: 2s;
}

@keyframes title {
  0% {
    margin-top: 300px;
  }

  100% {
    margin-top: 61px;
  }
}

@keyframes title {
  0% {
    margin-top: 300px;
  }

  100% {
    margin-top: 61px;
  }
}

@keyframes phone {
  0% {
    top: -60px;
  }

  100% {
    top: 21px;
  }
}

@keyframes second-header {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes hamb {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes forms {
  0% {
    margin-top: 1000px;
  }

  100% {
    margin-top: 14px;
  }
}

.page__title-wrap {
  flex-grow: 4;
  margin: 20px 0;
}

.page__title {
  font-size: 20px;
}

.title {
  font-size: 20px;
  font-weight: 400;
}

.head__contacts {
  flex-grow: 1;
  margin-top: 5px;
}

.social-contacts-list {
  list-style-type: none;
}

.logo-md {
  margin-top: 46px;
  width: 71px;
}

.logo-md-first {
  margin-top: 0;
}

.head__forms-wrap {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin: 14px 0 10px;
  animation-name: forms;
  animation-duration: 1s;
}

.forms-services {
  margin-top: 0;
}

.form {
  margin: 39px auto 0;
}

.form-service {
  margin-top: 29px;
}

.btn {
  color: #fff;
  padding: 10px 28px;
  letter-spacing: 1px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: rgba(100, 145, 154, 0.71);
  outline: none;
  font-size: 17px;
}

.btn:hover {
  background-color: #252626;
}

.btn-first {
  padding: 10px 43px;
}

.btn-second {
  padding: 10px 55px;
}

.section {
  margin-top: 28px;
  padding: 0 15px;
}

.services-section {
  margin-top: 16px;
}

.work-image {
  position: relative;
}

.go-link-abs {
  position: absolute;
  margin-top: 145px;
  right: 30px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: start;
}

/* header */

.main {
  padding: 15px 0;
}

.page-main-head {
  margin-top: 10px;
}

.main__description {
  margin-top: 26px;
}

.description__content {
  display: block;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.section-list-title {
  margin: 0 9px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 9px;
  font-size: 25px;
}

.market-adv-wrapper {
  margin-top: 40px;
  padding: 0 4px;
}

.maden-wrap {
  margin-top: 24px;
}
.maden-wrap__works {
  margin-top: 39px;
}

.title-bar {
  display: block;
  flex-grow: 1;
  margin-top: 15px;
  border-bottom: 1px solid rgba(100, 145, 154, 0.71);
}

.av-text-md {
  font-size: 12px;
}

.item {
  margin-top: 22px;
  border: 3px solid #fff;
  border-radius: 3px;
}

.item-title {
  letter-spacing: 1.1px;
}

.img {
  width: 100%;
  height: 100%;
  min-height: 313px;
}

.img-works {
  height: 200px;
}

.title-wrap {
  margin-top: 23px;
  padding: 10px;
  background-color: rgba(90, 125, 122, 0.54);
}

.title-wrap:hover {
  background-color: rgb(27 29 29 / 54%);
}

.block {
  margin-top: 39px;
}

.services-list-wrap {
  margin-top: 26px;
}

.services-action-wrap {
  display: flex;
  justify-content: end;
}

.service-item {
  margin-top: 18px;
  min-width: 320px;
  min-height: 285px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.adv-sm__wrap {
  margin-right: 20px;
}

.adv-item__conteiner {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.item-works {
  margin-top: 30px;
}

.service-item {
  background-image: url("../images/services-list/mebel-loft.jpg");
}

.service-item-second {
  background-image: url("../images/services-list/lestnicy.jpg");
}

.service-item-third {
  background-image: url("../images/services-list/peregorodki.jpg");
}

.service-item-fourth {
  background-image: url("../images/services-list/mebel-ulica.jpg");
}

.service-item-fiveth {
  background-image: url("../images/services-list/pokraska.jpg");
}

.link-flex {
  display: flex;
  justify-content: space-between;
}

.service-sm-wrapper {
  padding-right: 20px;
}

.section__about-us {
  margin-top: 25px;
}

.content__about-us {
  margin-top: 30px;
  padding: 0 6px;
}

.content {
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 1.25;
}

.img-wrap {
  margin-top: 50px;
  display: flex;
}

.img-about-us {
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  overflow: auto;
  height: 171px;
  min-height: 150px;
}

.img-adv {
  max-height: 250px;
  object-fit: cover;
}

.adv-wrapper {
  position: relative;
  z-index: 1;
  background-image: url("../images/bg-adv-mobile.jpg");
  background-size: cover;
  background-position: right;
  margin-top: 35px;
  border-radius: 5px;
  padding: 18px 15px;
}

.adv-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  opacity: 0.71;
}

.adv-lg__wrap {
  padding: 5px;
}

.z-wrap {
  position: relative;
  z-index: 3;
}

.list {
  list-style-type: none;
}

.second-worked-list {
  display: none;
}

.adv-point {
  margin-top: 20px;
  display: flex;
  align-items: start;
}

.adv-point-first {
  margin-top: 0;
}

.adv-col-sm {
  margin-right: 12px;
}

.img-adv {
  width: 20px;
}

.section__advantages {
  margin-top: 40px;
  padding: 0;
}

.section-title {
  padding: 0 10px;
}

.adv-title {
  display: block;
  padding: 0 10px;
}

.second-head-wrap {
  text-align: center;
  margin-top: 2px;
}

.adv-text {
  line-height: 1.35;
}

.section__feedbacks {
  margin-top: 39px;
}

.feedback-list {
  margin-top: 35px;
  list-style-type: none;
}

.feedback {
  border-radius: 10px;
  background-color: rgba(100, 145, 154, 0.71);
  padding: 22px 22px 33px;
}

.feedback-wrapper {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(100, 145, 154, 0.27);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

.fb-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fb-img {
  width: 89px;
  height: 89px;
  border-radius: 70%;
  margin: 15px auto 3px;
}

.fb-from-wrap-db {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.fb-from,
.fb-date {
  font-size: 11px;
}

.img-star {
  width: 19px;
}

.fb-content-wrap {
  padding: 0 34px 15px;
  margin-top: 3px;
}

.fb-content {
  font-size: 13px;
  line-height: 1.3;
}

.fb-main-link-wrap {
  display: flex;
  justify-content: end;
  margin-top: 31px;
}

.fb-link {
  text-decoration: underline;
  padding: 0 8px;
}

.our-workers-list {
  list-style-type: none;
}

.our-workers-header {
  margin-top: 39px;
}

.our-workers-wrap {
  margin-top: 36px;
}

.worker {
  position: relative;
  padding: 43px 60px 45px;
  border-radius: 5px;
  background-color: rgba(0, 212, 255, 0.06);
}

.img-worker-wrap {
  margin: 0 auto;
  height: 284px;
  background-color: #736e79;
}

.worker-name-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.worker-job-name {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.worker-name,
.job-name {
  font-size: 15px;
}

.go-link-worker {
  position: absolute;
  right: 15px;
  top: 165px;
}

.img-maps {
  width: 100%;
  object-fit: cover;
  height: 293px;
  border-radius: 5px;
}

.section-maps {
  margin-top: 39px;
}

.maps-wrapper {
  padding: 0;
}

.maps-title {
  padding: 0 10px;
}

.maps-main-wrap {
  margin-top: 35px;
  padding: 0 34px;
}

.maps-desc-wrap {
  display: flex;
  padding: 0 30px;
  justify-content: center;
}

.maps-desc-img-wrap {
  margin-top: 31px;
  padding: 0 34px;
}

.maps-desc-text {
  text-align: center;
}

.img-in {
  height: 191px;
}

.txt-md {
  font-size: 15px;
  margin-top: 9px;
}

.footer {
  margin-top: 48px;
  padding: 15px;
  background-color: #609aa6;
}

.footer-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.footer-services {
  margin-top: 21px;
}

.footer-header-wrap {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  padding: 0 7px;
}

.footer-txt {
  letter-spacing: 1.1px;
  line-height: 1.65;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 11px;
}

.social-center {
  margin: 0 30px;
}

.footer-contacts-list-wrap {
  margin-top: 18px;
}

.contact-item-wrap {
  display: flex;
  justify-content: center;
}

.contact-item-wrap-md {
  margin-top: 20px;
}

.contact-phone-wrap {
  margin-top: 4px;
}

.contact-phone-company {
  margin-top: 10px;
}

.email,
.tel {
  font-size: 15px;
}

.footer-rights-wrap {
  margin-top: 12px;
}

.txt-sm {
  font-size: 11px;
}

.logo-sm {
  width: 50px;
}

.sr-main {
  padding-bottom: 0;
}

.sr-section-main {
  padding: 5px 15px 0;
}

.ser-h1 {
  font-size: 20px;
}

.sr-main__description {
  margin-top: 36px;
}

.sr-market-adv-wrapper {
  margin: 48px auto 0;
}

.sr-adv-item__conteiner {
  align-items: start;
  margin-top: 16px;
}

.sr-adv-sm__wrap {
  margin-right: 25px;
}

.sr-av-text-md {
  font-size: 15px;
  line-height: 1.45;
}

.sr-item {
  margin-top: 24px;
}

.sr-forms {
  margin-top: 18px;
}

.drawing-list,
.sr-works-header {
  display: none;
}

.ow-section-main {
  padding: 0 15px;
}

.ow-section-list-title {
  font-size: 20px;
}

.ow-adv-sm__wrap {
  margin-right: 10px;
}

.ow-av-text-md {
  line-height: 1.6;
}

.ow-market-adv-wrapper {
  margin-top: 37px;
}

.ow-item-works {
  margin-top: 25px;
}

.ow-maden-wrap__works {
  margin-top: 28px;
}

.ow-work-item {
  position: relative;
}

.ow-title-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.ow-go-link-abs {
  right: 7px;
}

.ow-service-sm-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ow-sp-title {
  font-size: 15px;
  font-weight: 700;
  width: 120px;
  text-align: center;
}

.ow-forms {
  margin-top: 21px;
}

.ow-worked-list .owe-work-item {
  position: relative;
}

.ct-main__description {
  padding: 0 15px;
}

.ct-contact-item-wrap-md {
  margin-top: 30px;
}

.ct-forms {
  margin-top: 34px;
  margin-bottom: 0;
}

.ct-form {
  margin-top: 23px;
}

.ct-form:nth-child(1) {
  margin-top: 0;
}

.ct-social-wrap,
.ct-social-list {
  margin-top: 0;
}

.ct-logo-md {
  margin-top: 29px;
}

.ct-section-maps {
  margin-top: 30px;
}

.ct-maps-desc-wrap {
  margin-top: 6px;
}

.ct-maps-desc-wrap:nth-child(3) {
  margin-top: 6px;
}

.ct-maps-desc-wrap {
  margin-top: 0;
}

.ct-text {
  font-size: 15px;
}

.ct-maps-desc-img-wrap {
  margin-top: 27px;
}

.lst-main {
  margin-top: 25px;
  padding: 0 15px;
}

.lst-h1 {
  font-size: 20px;
  font-weight: 700;
}

.lst-main__description {
  margin-top: 27px;
}

.lst-content {
  font-size: 18px;
  line-height: 1.27;
}

.lst-list-items {
  margin-top: 40px;
}

.lst-list-item {
  margin-top: 28px;
}

.lst-item-img {
  object-fit: cover;
  width: 100%;
}

.lst-item-img:nth-child(1) {
  height: 329px;
}

.lst-item-title {
  font-size: 20px;
  font-weight: 700;
}

.lst-item-cont-wrap {
  margin: 5px 0 0 22px;
  padding: 15px;
  border-left: 2px solid rgba(100, 145, 154, 0.65);
  border-bottom: 2px solid rgba(100, 145, 154, 0.65);
  border-radius: 2px;
}

.lst-item-cont-wrap-odd {
  border-left: none;
  border-right: 2px solid rgba(100, 145, 154, 0.65);
  margin: 5px 22px 0 0;
}

.lst-item-content {
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 1px;
}

.lst-par-wrap {
  margin-top: 10px;
}

.special-head-wrap {
  margin-top: 40px;
}

.lst-h2 {
  font-size: 25px;
  font-weight: 700;
}

.mtc-item {
  margin-top: 30px;
}

.mtc-title-wrap {
  margin-top: 20px;
}

.mtc-img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.pk-list {
  margin: 70px auto 0;
}

.pk-item {
  margin-top: 15px;
}

.pk-item:nth-child(1) {
  margin-top: 0;
}

.pk-img {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #fff;
  border-radius: 3px;
  height: 322px;
}

.pk-img-second {
  height: 224px;
}

.pk-img-third {
  height: 396px;
}

.pk-wrap {
  margin-top: 30px;
}

.pk-adv-item {
  margin-top: 15px;
  align-items: center;
}

.pk-adv-item:nth-child(1) {
  margin-top: 0;
}

.pk-head-wrap {
  margin-top: 20px;
}

.pk-second-title {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.pk-text {
  font-size: 17px;
  line-height: 1.35;
}

.mob-dn {
  display: none;
}

/* slider */

.slider-wrap {
  position: relative;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 5px;
  height: 323px;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-list {
  display: flex;
  transition: all ease 1s;
}

.slider-item {
  object-fit: cover;
}

.slider-btn {
  position: absolute;
  right: 10%;
  margin-top: 140px;
  z-index: 999;
}

/* slider */

/* animation */

/* animation */

@media (max-width: 640px) {
  .work-image {
    object-fit: cover;
    margin-bottom: -4px;
  }
}

@media (max-width: 1200px) {
  .popup {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
    opacity: 1;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: visible;
  }

  .popup .menu > li {
    margin-top: 30px;
    width: 100%;
  }

  .popup .menu > li:first-child {
    margin-top: 50px;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }

  .hamb__field.active {
    z-index: 101;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .mob-dn {
    display: block;
  }

  /* popup */
  .popup-form-wrapper {
    margin: auto;
    min-width: 400px;
    min-height: 80%;
    max-width: 500px;
    max-height: 90%;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(19px) rotate(45deg);
  }
  /* popup */
  /* header */
  /* nav */
  .nav-panel {
    padding: 7px 6px 0 37px;
  }

  .phone-wrap {
    left: 54%;
    top: 33px;
    letter-spacing: 0.5px;
  }

  .head-tel {
    font-size: 24px;
  }

  .logo {
    width: 68%;
  }

  .nav__title-container {
    margin: 79px 0 0 2%;
  }

  .nav__title {
    font-size: 20px;
  }

  .hamb__field {
    padding: 22px 10px;
  }

  .bar {
    width: 50px;
    margin: 13px auto;
  }
  /* nav */

  /* header */

  .page-head {
    padding: 32px 30px 100px;
  }

  .title {
    font-size: 35px;
  }

  .head__contacts {
    margin-top: 17px;
    margin-left: 50px;
  }

  .logo-md-first,
  .logo-md {
    width: 90px;
  }

  .logo-md {
    margin-top: 76px;
  }

  .head__forms-wrap {
    margin: 35px 0 10px;
  }

  .form {
    margin-top: 70px;
  }

  .btn {
    padding: 14px 60px;
    font-size: 25px;
    border-radius: 40px;
  }
  /* aside */
  .section {
    margin-top: 29px;
  }

  .works-section {
    margin-top: 47px;
  }

  .title-bar {
    margin-top: 20px;
  }

  .maden-wrap {
    margin-top: 45px;
  }

  .worked-list {
    display: grid;
    row-gap: 10px;
    column-gap: 12px;
    grid-template-areas:
      "A B"
      "A C"
      "D C";

    grid-template-columns: 49.3% 49.3%;
    grid-template-rows: 29% 30% 31%;
  }

  .worked-list .item {
    border: 10px solid #fff;
    border-radius: 0;
  }

  .work-item:nth-child(1) {
    grid-area: A;
  }

  .work-item:nth-child(2) {
    grid-area: B;
  }
  .work-item:nth-child(3) {
    grid-area: C;
  }

  .work-item:nth-child(4) {
    grid-area: D;
  }

  .img {
    min-width: 10px;
  }

  .work-image {
    object-fit: cover;
    max-height: 100%;
    min-height: 100%;
    object-position: center;
  }

  .item {
    margin-top: 0;
  }

  .second-worked-list {
    margin-top: -48px;
    display: flex;
  }

  .second-worked-list .work-item {
    max-height: 200px;
  }

  .second-worked-list .work-item:nth-child(1) {
    flex-basis: 27%;
  }

  .second-worked-list .work-item:nth-child(2) {
    flex-basis: 40%;
  }

  .second-worked-list .work-item:nth-child(3) {
    flex-basis: 27%;
  }

  .second-worked-list .work-item {
    height: 220px;
  }

  .tab-dn {
    display: none;
  }
  /* aside */
  /* main */
  .services-list-wrap {
    margin-top: 42px;
  }

  .services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .services-item-container {
    flex-grow: 1;
    flex-basis: 45%;
    min-width: 300px;
  }

  .service-item {
    min-width: 0;
  }

  .item-title {
    font-size: 22px;
    font-weight: 700;
  }

  .services-list .service-item {
    flex-grow: 1;
    flex-basis: 46%;
  }

  .service-item-fourth {
    display: block;
  }

  .add-wrap {
    margin-top: 20px;
  }

  .add-btn {
    font-size: 30px;
  }
  /* main */

  /* aside */
  .section__about-us {
    margin-top: 50px;
  }
  .img-about-us {
    height: 300px;
  }

  .content__about-us {
    margin-top: 42px;
  }

  .content {
    font-size: 25px;
    text-align: left;
  }

  .img-wrap {
    margin-top: 55px;
  }

  .section__advantages {
    padding: 0 15px;
    margin-top: 47px;
  }

  .adv-wrapper {
    margin-top: 50px;
    padding: 35px 15px;
  }

  .adv-point {
    margin-top: 17px;
  }

  .adv-point-first {
    margin-top: 0px;
  }

  .adv-text {
    font-size: 20px;
  }

  .section__feedbacks {
    margin-top: 52px;
  }

  .feedback-list {
    display: flex;
    gap: 20px;
    margin-top: 42px;
  }

  .feedback {
    flex-grow: 1;
    flex-basis: 50%;
    padding-bottom: 28px;
  }

  .fb-content {
    font-size: 15px;
  }

  .feedback:nth-child(2) {
    display: block;
  }

  .feedback-wrapper {
    min-height: 380px;
    padding-bottom: 5px;
  }

  .our-workers-list {
    display: flex;
  }

  .img-maps {
    min-height: 330px;
  }

  .fb-main-link-wrap {
    margin-top: 20px;
  }

  .our-workers-header {
    margin-top: 46px;
  }

  .our-workers-wrap {
    margin-top: 43px;
  }

  .worker {
    padding-bottom: 28px;
  }

  .job-name {
    text-align: center;
  }

  .section-maps {
    margin-top: 48px;
  }

  .maps-main-wrap {
    margin-top: 44px;
    padding: 0 90px;
  }

  .maps-desc-wrap {
    margin-top: 18px;
  }

  .maps-desc-text {
    font-size: 25px;
  }

  .maps-desc-img-wrap {
    margin-top: 42px;
    padding: 0 90px;
  }

  .maps-desc-text-add {
    margin-top: 0;
  }

  /* aside */
  /* footer */
  .footer {
    margin-top: 100px;
  }

  .footer-header-wrap {
    margin-top: 20px;
    padding: 0 80px;
  }

  .logo-sm {
    width: 71px;
  }

  .social-center {
    margin: 0 55px;
  }

  .email,
  .tel {
    font-size: 25px;
  }

  .txt-rights {
    font-size: 20px;
  }
  /* footer */

  .sr-section-main {
    margin-top: 38px;
    padding: 0 27px;
  }

  .sr-main__description {
    margin-top: 48px;
    padding: 0 30px;
  }

  .sr-content {
    font-size: 35px;
  }

  .sr-market-adv-wrapper {
    margin-top: 9px;
  }

  .sr-av-text-md {
    font-size: 20px;
  }

  .sr-adv-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
  }

  .sr-adv-item__conteiner {
    flex-basis: 50%;
    margin-top: 40px;
  }

  .sr-adv-lg__wrap {
    padding: 0 5px;
  }

  .sr-services-list-wrap {
    margin-top: 36px;
  }

  .sr-item:nth-child(5) {
    flex-grow: 0;
    flex-basis: 48%;
    margin: 0 auto;
  }

  .sr-forms {
    margin-top: 32px;
  }

  .sr-form {
    margin-top: 45px;
  }

  .ow-section-main {
    margin-top: 39px;
    padding: 0 24px;
  }

  .ow-market-adv-wrapper {
    margin-top: 25px;
  }

  .ow-main__description {
    padding: 24px 60px;
  }

  .ow-maden-wrap__works {
    margin-top: 37px;
  }

  .ow-content {
    font-size: 35px;
  }

  .ow-go-link-abs {
    width: 28px;
    margin-top: 300px;
  }

  .ow-adv-sm__wrap {
    margin-right: 18px;
  }

  .ow-av-text-md {
    font-size: 20px;
    line-height: 1.4;
  }

  .ow-item-works {
    margin-top: 18px;
  }

  .ow-worked-list {
    display: flex;
  }

  .ow-worked-list .owe-work-item {
    flex-grow: 1;
    border-radius: 3px;
    border: 3px solid #fff;
    position: relative;
    height: 660px;
  }

  .ow-work-img {
    height: 800px;
  }

  .ow-sp-title {
    width: 170px;
  }

  .ow-forms {
    margin-top: 30px;
  }

  .ow-form:nth-child(2) {
    margin-top: 45px;
  }

  .ct-section-main {
    margin-top: 38px;
  }

  .ct-description__content {
    font-size: 35px;
  }

  .ct-main__description {
    margin-top: 52px;
    padding: 0 30px;
  }

  .ct-txt {
    font-size: 30px;
  }

  .ct-contact-item-wrap-md {
    margin-top: 54px;
  }

  .ct-item-wrap-md {
    margin-top: 30px;
  }

  .ct-logo-md {
    margin-top: 35px;
  }
  .ct-maps-desc-img-wrap {
    margin-top: 46px;
  }

  .ct-maps-desc-wrap:nth-child(3) {
    margin-top: 15px;
  }

  .lst-main {
    padding: 0 30px;
    margin-top: 53px;
  }

  .lst-h1 {
    font-size: 30px;
  }

  .lst-main__description {
    margin-top: 56px;
  }

  .lst-content {
    font-size: 25px;
    line-height: 1.4;
  }

  .lst-list-items {
    margin-top: 54px;
  }

  .lst-list-item {
    display: flex;
  }

  .lst-list-item:nth-child(2n) {
    align-items: end;
  }

  .lst-item-pict-wrap {
    border-radius: 2px;
    flex-basis: 52%;
  }

  .lst-item-cont-wrap {
    flex-basis: 47%;
    margin: 0 0 0 19px;
    padding-top: 0;
  }

  .lst-par-wrap {
    margin-top: 13px;
  }

  .lst-item-content {
    font-size: 17px;
    line-height: 1.46;
  }

  .lst-item-pict-wrap-odd {
    order: 2;
  }

  .lst-item-cont-wrap-odd {
    flex-grow: 1;
    order: 1;
    margin: 0 19px 0 0;
  }

  /* lst2 */

  .lst2-list-items {
    display: flex;
    gap: 20px;
    margin-top: 55px;
  }

  .lst2-item {
    flex-basis: 50%;
  }

  .lst2-item .lst-item-pict-wrap {
    margin-top: 46px;
  }

  .lst2-item .lst-item-pict-wrap:nth-child(1),
  .lst-item-cont-wrap:nth-child(1) {
    margin-top: 0;
  }

  .lst2-item .lst-item-img {
    border-radius: 2px;
  }

  .lst2-item .lst-item-img2 {
    height: 308px;
  }

  .lst2-item .lst-item-img3 {
    height: 448px;
  }

  .lst2-item .lst-item-img4 {
    height: 305px;
  }

  .lst2-item .lst-item-img5 {
    height: 388px;
  }

  .lst2-item .lst-item-img6 {
    height: 359px;
  }

  .lst2-item .lst-item-cont-wrap {
    padding: 0 0 12px 15px;
    margin: 42px 0 0 0;
  }

  .lst2-item .lst-item-cont-wrap:nth-child(1) {
    margin: 0 0 0 0;
  }

  .lst2-item .lst-item-cont-wrap:nth-child(2n) {
    padding: 0 12px 12px 0;
  }

  .lst2-item .lst-item-content {
    letter-spacing: 0;
  }

  .lst2-cont1 {
    min-height: 210px;
  }

  .lst2-cont2 {
    min-height: 190px;
  }

  .lst2-cont3 {
    min-height: 433px;
  }

  .lst2-cont4 {
    min-height: 291px;
  }

  .lst2-cont5 {
    min-height: 241px;
  }

  .lst2-item .lst2-cont4 {
    margin-top: 55px;
  }

  .lst2-item .lst2-cont6 {
    min-height: 212px;
  }

  .mtc-list-items {
    display: grid;
    row-gap: 20px;
    column-gap: 40px;
    grid-template-areas:
      "A B"
      "A B"
      "C B"
      "C D"
      "C D";
    grid-template-columns: 45.9% 45.9%;
    grid-template-rows: 58% 0% 9% 1% 30%;
  }

  .mtc-item:nth-child(1) {
    grid-area: A;
  }

  .mtc-item:nth-child(2) {
    grid-area: B;
  }

  .mtc-item:nth-child(3) {
    grid-area: C;
  }

  .mtc-item:nth-child(4) {
    grid-area: D;
  }

  .mtc-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid #fff;
  }

  .mtc-extra-wrap {
    margin-top: 140px;
  }

  .mtc-mezo {
    gap: 20px;
  }

  .lst-item-img3 {
    border-radius: 5px;
  }

  .special-lst-item {
    display: block;
  }

  .pk__description {
    margin-top: 40px;
    padding: 0 8px;
  }

  .pk-list {
    margin-top: 54px;
  }

  .pk-img {
    height: 721px;
  }

  .pk-img-second {
    height: 462px;
  }

  .pk-img-third {
    height: 750px;
  }

  .pk-head-wrap {
    margin-top: 44px;
  }

  .pk-second-title {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
  }

  .pk-wrap {
    margin-top: 38px;
  }

  .pk-adv-item {
    margin-top: 20px;
  }

  .pk-text {
    font-size: 20px;
  }

  .tab-dn {
    display: none;
  }
}

@media (min-width: 1201px) {
  .tab-dn {
    display: inline;
  }

  .mob-dn {
    display: inline;
  }

  /* popup */
  .popup-form-wrapper {
    margin: auto;
    min-width: 400px;
    min-height: 40%;
    max-width: 500px;
    max-height: 50%;
  }
  /* popup */
  /* header */
  .nav-panel {
    padding: 8px 96px 10px 18px;
    align-items: center;
  }

  .nav__logo-wrap {
    padding-left: 64px;
    margin-top: 0;
  }

  .logo {
    width: 50%;
  }

  .phone-wrap {
    display: none;
  }

  .nav__title-container {
    margin: 61px 0 0 -6%;
  }

  .nav__title {
    font-size: 17px;
  }

  .hamb {
    display: none;
  }

  .menu-wrap {
    display: block;
  }

  .menu {
    list-style-type: none;
    background-image: none;
    display: flex;
  }

  .link-main,
  .link-services,
  .link-works,
  .link-contacts {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }

  .link-main,
  .link-services,
  .link-works {
    margin-right: 70px;
  }

  .menu li:nth-child(3) {
    flex-shrink: 0;
  }
  /* header */
  /* aside */
  .page-head {
    display: block;
    background-image: url("../images/header-bg-dt.jpg");
    margin-top: 0;
    padding-bottom: 138px;
  }

  .head__wrap {
    padding: 62px 50px 0 60px;
    display: flex;
    justify-content: space-between;
  }

  .page__title-wrap {
    max-width: 600px;
  }

  .title {
    font-size: 35px;
  }

  .page__title {
    font-size: 25px;
  }

  .title-bold {
    font-weight: 700;
  }

  .head__contacts {
    margin-top: 12px;
  }

  .social-contacts-list {
    display: flex;
    justify-content: end;
    gap: 61px;
  }

  .logo-md {
    margin-top: 0;
  }

  .logo-md,
  .logo-md-first {
    width: 90px;
  }

  .head__forms-wrap {
    margin-top: 223px;
  }

  .form {
    margin-top: 50px;
  }

  .btn {
    font-size: 18px;
    padding: 16px 67px;
    border-radius: 30px;
  }

  .works-section {
    margin-top: 60px;
    padding: 0 75px;
  }

  .head {
    padding: 0 60px;
  }

  .section-list-title {
    font-size: 34px;
  }

  .title-bar {
    margin-top: 19px;
    border-bottom: 2px solid rgba(100, 145, 154, 0.71);
  }

  .maden-wrap {
    margin-top: 33px;
  }

  .worked-list {
    margin-top: 57px;
    display: grid;
    gap: 20px;
    grid-template-areas:
      "A B C"
      "A B F"
      "A E F"
      "D E F";
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-template-rows: 32% 23% 7% 41%;
  }

  .work-item:nth-child(1) {
    grid-area: A;
  }

  .work-item:nth-child(7) {
    grid-area: B;
  }
  .work-item:nth-child(3) {
    grid-area: C;
  }

  .work-item:nth-child(4) {
    grid-area: D;
  }

  .work-item:nth-child(5) {
    grid-area: E;
  }

  .work-item:nth-child(6) {
    grid-area: F;
  }

  .item {
    border: 10px solid #fff;
    border-radius: 0;
  }

  .work-item {
    margin-top: 0;
  }

  .work-image {
    object-fit: cover;
    min-height: 0;
    height: 100%;
  }
  /* aside */
  /* main */

  .services-section {
    margin-top: 129px;
    padding: 0 95px 0 60px;
  }

  .services-list-wrap {
    margin-top: 33px;
  }

  .services-item-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 19px;
  }

  .service-item {
    margin-top: 23px;
    margin-right: 40px;
    border: 3px solid #fff;
    border-radius: 3px;
    flex-basis: 30.5%;
  }

  .services-content-title {
    font-size: 25px;
    font-weight: 700;
  }

  .services-text {
    font-size: 22px;
  }

  .services-item-content-wrap {
    margin-top: 23px;
    padding: 7px 0 0 16px;
    border-left: 2px solid rgba(100, 145, 154, 0.64);
    border-bottom: 2px solid rgba(100, 145, 154, 0.64);
    flex-basis: 60%;
  }

  .title-wrap {
    padding: 7px;
  }

  .item-title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .serv-item-text {
    margin-top: 32px;
  }

  .services-text {
    line-height: 1.73;
    padding-right: 10px;
  }

  .services-item-footer {
    display: flex;
    justify-content: end;
    margin-top: 26px;
    flex-basis: 100%;
  }

  .relink-btn {
    padding: 13px 55px;
  }
  /* main */
  /* aside */
  .section__about-us {
    margin-top: 45px;
    padding: 0 75px;
  }

  .content__about-us {
    margin-top: 67px;
  }

  .content {
    text-align: left;
    line-height: 1.9;
    letter-spacing: 1px;
  }

  .img-wrap {
    margin-top: 53px;
    padding: 0 105px;
  }

  .img-about-us {
    height: 555px;
  }

  .section__advantages {
    margin-top: 45px;
  }

  .adv-wrapper {
    margin: 58px 170px 0;
    padding: 60px 80px 60px 125px;
  }

  .adv-text {
    font-size: 25px;
  }

  .adv-point:nth-child(1) {
    margin-top: 0;
  }

  .adv-point {
    margin-top: 21px;
    align-items: center;
  }

  .section__feedbacks {
    margin-top: 63px;
    padding: 0 80px;
  }

  .feedback-list {
    margin-top: 55px;
    display: flex;
    gap: 22px;
  }

  .feedback {
    padding: 55px 35px 20px;
    flex-basis: 33%;
    background-color: rgba(100, 145, 154, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .fb-img {
    margin-top: 10px;
  }

  .fb-name {
    font-size: 15px;
    font-weight: 700;
  }

  .fb-content-wrap {
    margin-top: 0;
    padding: 0 40px 15px;
  }

  .fb-from,
  .fb-date,
  .fb-content,
  .fb-link {
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: -0.5px;
  }

  .feedback-wrapper {
    min-height: 400px;
    padding-bottom: 0;
  }

  .fb-stars-wrap {
    margin-top: 5px;
  }

  .fb-main-link-wrap {
    margin-top: 16px;
  }

  .section__our-workers {
    margin-top: 61px;
    padding: 0 30px;
  }

  .our-workers-wrap {
    margin: 55px auto 0;
    padding: 0 50px;
    display: flex;
  }

  .our-workers-list {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    background-color: rgba(0, 212, 255, 0.06);
    padding: 0 95px;
    width: 100%;
  }

  .worker {
    margin-top: 120px;
    padding: 10px 20px 15px;
    background: linear-gradient(
      180deg,
      #736e79 0%,
      rgba(118, 111, 126, 0) 100%
    );
  }

  .worker:nth-child(2) {
    margin-top: 80px;
  }

  .img-worker-wrap {
    min-height: 326px;
    height: auto;
  }

  .section-maps {
    margin-top: 68px;
  }

  .maps-main-wrap {
    margin-top: 55px;
    padding: 0 250px;
  }

  .img-maps {
    height: 462px;
  }

  .maps-desc-wrap {
    margin-top: 13px;
  }

  .maps-desc-text {
    font-size: 22px;
    max-width: 470px;
  }

  .maps-desc-img-wrap {
    margin: 0 auto;
    margin-top: 58px;
    max-width: 75%;
    min-width: 800px;
  }

  .img-in {
    height: 600px;
  }
  /* aside */
  /* footer */
  .footer {
    margin-top: 113px;
    padding: 19px 19px 15px 75px;
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-header-wrap {
    margin-top: 0;
    display: block;
    max-width: 400px;
  }

  .footer-txt {
    font-size: 17px;
    line-height: 1.5;
  }

  .email-desktop {
    display: block;
    margin-top: 25px;
    padding-left: 7px;
    font-size: 17px;
  }

  .foot__menu-wrap {
    padding-left: 50px;
    flex-basis: 22%;
  }

  .foot__menu-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  .foot__menu-item {
    margin: 11px 60px 0 0;
  }

  .foot__menu-item:nth-child(1),
  .foot__menu-item:nth-child(2) {
    margin-top: 0;
  }

  .foot__menu-item:nth-child(1) {
    margin-right: 70px;
  }

  .foot__menu-item:nth-child(4) {
    padding-left: 38px;
  }

  .foot__menu-item:nth-child(2),
  .foot__menu-item:nth-child(4) {
    margin-right: 0;
  }

  .foot__link {
    font-size: 17px;
    font-weight: 700;
  }

  .footer-socials-wrap {
    flex-basis: 35%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }

  .social-list {
    margin-top: 0;
  }

  .footer-contacts-list-wrap {
    display: none;
  }

  .social-center {
    margin: 0 48px;
  }

  .foot__tel-wrap {
    margin-top: 20px;
  }

  .foot__tel-desktop {
    font-size: 20px;
  }

  .footer-rights-wrap {
    text-align: center;
    flex-basis: 100%;
    margin-top: 5px;
  }

  .txt-rights {
    font-size: 15px;
    margin: 0 auto;
  }

  .sr-section-main {
    margin-top: 24px;
    padding: 5px 30px 0;
  }

  .sr-main__description {
    margin-top: 65px;
  }

  .sr-content {
    font-size: 22px;
  }

  .sr-market-adv-wrapper {
    margin-top: 25px;
  }

  .sr-adv-list {
    display: flex;
    padding: 0 30px;
  }

  .sr-adv-item__conteiner {
    align-items: center;
  }

  .sr-av-text-md {
    font-size: 20px;
  }

  .drawing-list {
    margin-top: 64px;
    padding: 0 120px;
    display: flex;
    gap: 50px;
  }

  .drawing-item {
    flex-basis: 50%;
  }

  .drawing-img {
    width: 100%;
    max-height: 86%;
    object-fit: cover;
    border-radius: 5px;
  }

  .sr-works-header {
    display: flex;
    padding: 0;
  }

  .sr-services-section {
    margin-top: 25px;
    padding: 0;
  }

  .sr-services-list-wrap {
    margin-top: 46px;
  }

  .sr-item:nth-child(5) {
    margin-top: 3px;
  }

  .sr-forms {
    margin-top: 23px;
  }

  .sr-form:nth-child(1) {
    margin-top: 0;
  }

  .ow-section-main {
    margin-top: 37px;
  }

  .ow-main__description {
    margin-top: 60px;
    padding: 0 150px;
  }

  .ow-content {
    font-size: 22px;
    line-height: 1.6;
  }

  .ow-market-adv-wrapper {
    padding: 0 150px;
    margin-top: 39px;
  }

  .ow-item-works {
    margin-top: 12px;
  }

  .ow-av-text-md {
    font-size: 20px;
    line-height: 1.5;
  }

  .ow-maden-wrap__works {
    margin-top: 20px;
    padding: 0 150px;
  }

  .ow-worked-list {
    margin-top: 40px;
    display: block;
  }

  .ow-sp-title {
    font-size: 25px;
    width: 180px;
    padding: 5px 0;
  }

  .ow-worked-list .owe-work-item {
    border-width: 3px;
    border-radius: 3px;
    height: 705px;
    position: relative;
  }

  .ow-forms {
    margin-top: 50px;
  }

  .ct-section-main {
    margin-top: 37px;
  }

  .ct-description__content {
    font-size: 25px;
    padding: 0 305px;
  }

  .ct-main__description {
    margin-top: 66px;
  }

  .ct-contact-item-wrap-md {
    margin-top: 70px;
    display: block;
  }

  .ct-item-wrap-md {
    margin-top: 66px;
  }

  .ct-txt {
    font-size: 25px;
  }

  .ct-forms {
    margin-top: 70px;
  }

  .ct-social-wrap {
    justify-content: center;
    margin-top: 59px;
  }

  .ct-maps-main-wrap {
    margin-top: 70px;
  }

  .ct-maps-desc-img-wrap {
    margin-top: 66px;
  }

  .lst-main {
    padding: 0 80px;
    margin-top: 53px;
  }

  .lst-h1 {
    font-size: 30px;
  }

  .lst-main__description {
    margin-top: 66px;
  }

  .lst-content {
    font-size: 22px;
    line-height: 1.5;
  }

  .lst-list-items {
    margin-top: 70px;
  }

  .lst-item-pict-wrap {
    flex-basis: 49.2%;
  }

  .lst-item-cont-wrap {
    box-sizing: border-box;
    flex-basis: 48%;
    margin: 0 0 0 19px;
    padding-top: 0;
    padding-left: 19px;
  }

  .lst-par-wrap {
    margin-top: 18px;
  }

  .lst-item-content {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.1px;
  }

  .lst-item-title {
    font-size: 25px;
  }

  .lst-item-pict-wrap-odd {
    order: 2;
  }

  .lst-item-img:nth-child(n) {
    height: 433px;
    border-radius: 5px;
  }

  .lst-item-cont-wrap-odd {
    order: 1;
    margin: 0 19px 0 0;
  }

  .lst-main {
    padding: 0 70px;
    margin-top: 53px;
  }

  .lst-h1 {
    font-size: 35px;
  }

  .lst-main__description {
    margin-top: 58px;
  }

  .lst-content {
    font-size: 22px;
    line-height: 1.6;
  }

  .lst-list-items {
    margin-top: 54px;
  }

  .lst-list-item {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .lst-list-item:nth-child(2n) {
    align-items: end;
  }

  .lst-item-pict-wrap {
    border-radius: 2px;
    flex-basis: 52%;
  }

  .lst-item-cont-wrap {
    flex-basis: 47%;
    height: 100%;
    margin: 0 0 0 19px;
    padding-top: 0;
  }

  .lst-par-wrap {
    margin-top: 20px;
  }

  .lst-item-content {
    font-size: 20px;
    line-height: 1.46;
  }

  .lst-item-pict-wrap-odd {
    order: 2;
  }

  .lst-item-cont-wrap-odd {
    order: 1;
    margin: 0 19px 0 0;
  }

  /* lst2 */

  .lst2-list-items {
    display: flex;
    gap: 20px;
    margin-top: 70px;
  }

  .lst2-item {
    flex-basis: 50%;
  }

  .lst2-item .lst-item-pict-wrap {
    margin-top: 59px;
  }

  .lst2-item .lst-item-pict-wrap:nth-child(1),
  .lst-item-cont-wrap:nth-child(1) {
    margin-top: 0;
  }

  .lst2-item .lst-item-img {
    border-radius: 2px;
  }

  .lst2-item .lst-item-img2 {
    height: 488px;
  }

  .lst2-item .lst-item-img3 {
    height: 650px;
  }

  .lst2-item .lst-item-img4 {
    height: 494px;
  }

  .lst2-item .lst-item-img5 {
    height: 739px;
  }

  .lst2-item .lst-item-img6 {
    height: 494px;
  }

  .lst2-item .lst-item-cont-wrap {
    padding: 0 0 12px 15px;
    margin: 52px 0 0 0;
  }

  .lst2-item .lst-item-cont-wrap:nth-child(1) {
    margin: 0 0 0 0;
  }

  .lst2-item .lst-item-cont-wrap:nth-child(2n) {
    padding: 0 12px 12px 22px;
  }

  .lst2-item .lst-item-content {
    letter-spacing: 0;
  }

  .lst2-cont1 {
    min-height: 222px;
  }

  .lst2-cont2 {
    min-height: 255px;
  }

  .lst2-cont3 {
    min-height: 377px;
  }

  .lst2-cont4 {
    min-height: 245px;
  }

  .lst2-cont5 {
    min-height: 435px;
  }

  .lst2-cont6 {
    min-height: 191px;
  }

  .lst2-forms {
    margin-top: 96px;
  }

  .special-head-wrap {
    margin-top: 60px;
  }

  .mtc-main {
    padding: 0 150px;
  }

  .mtc-list-items {
    display: grid;
    column-gap: 20px;
    grid-template-areas:
      "A B C"
      "A B F"
      "A E F"
      "D E F";
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 38% 28% 13% 44%;
  }

  .mtc-item:nth-child(1) {
    grid-area: A;
  }

  .mtc-item:nth-child(2) {
    grid-area: B;
  }
  .mtc-item:nth-child(3) {
    grid-area: C;
  }
  .mtc-item:nth-child(4) {
    grid-area: D;
  }
  .mtc-item:nth-child(5) {
    grid-area: E;
  }
  .mtc-item:nth-child(6) {
    grid-area: F;
  }

  .mtc-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border: 10px solid #fff;
  }

  .mtc-extra-wrap {
    margin-top: 280px;
  }

  .mtc-mezo {
    gap: 20px;
  }

  .mtc-item-pict-wrap {
    flex-basis: 50%;
  }

  .mtc-item-cont-wrap {
    flex-basis: 50%;
  }

  .pk__description {
    margin-top: 58px;
    padding: 0 30px;
  }

  .pk-list {
    display: grid;
    grid-template-areas:
      "A B"
      "A C";
    grid-template-columns: 58% 40%;
    grid-template-rows: 27% 35%;
    gap: 20px;
  }

  .pk-item {
    margin-top: 0;
  }

  .pk-item:nth-child(1) {
    grid-area: A;
  }

  .pk-item:nth-child(2) {
    grid-area: B;
  }

  .pk-item:nth-child(3) {
    grid-area: C;
  }

  .pk-img {
    height: 100%;
  }

  .pk-head-wrap {
    margin-top: -305px;
  }

  .pk-wrap {
    padding: 0 110px;
  }

  .pk-adv-list {
    margin-top: 41px;
  }

  .pk-col-lg {
    margin-left: 12px;
  }

  .pk-second-title {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
  }

  .pk-text {
    font-size: 25px;
  }

  .pk-adv {
    width: 40px;
  }

  @keyframes page-head {
    0% {
      background-position: bottom;
    }

    100% {
      background-position: top;
    }
  }

  /* footer */

  .des-dn {
    display: none;
  }
}
